!!!
.wrapper

  = render 'shared/side_bar'

  .chat
    .header
      .left-header
        .left-header__title
          test-group
        %ul.left-header__members
          Member：
          %li.member
            member
          %li.member
            member
          %li.member
            member
      .right-header
        .right-header__button
          Edit
    .messages
      .message
        .upper-message
          .upper-message__user-name
            test-user
          .upper-message__date
            2019/07/20
        .lower-meesage
          .lower-message__content
            メッセージ
      .message
        .upper-message
          .upper-message__user-name
            test-user2
          .upper-message__date
            2019/07/24
        .lower-meesage
          .lower-message__content
            メッセージ
      .message
        .upper-message
          .upper-message__user-name
            test-user3
          .upper-message__date
            2019/07/25
        .lower-meesage
          .lower-message__content
            メッセージ
    .form
      %form
        %input.form__message
        .form__mask
          %label.form__mask__image
            = fa_icon 'picture-o', class: 'bottom_icon'
            %input.hidden{type: 'file'}
        %input.form__submit{type: 'submit', value: 'Send'}